.mat-drawer-container-class{
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 118px;
}

.mat-drawer-content-class{
  width: 88%;
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top:  0px;
}

.mat-drawer-class{
  width: 12%;
  background-color: #181b1b;
 }


