nav {
  margin-top: 70px !important;
  background-color: rgba(21,24,25, 0.9);
  color:#fff;
  position: fixed;
  top:0;
  left: 0;
  width: 100vw;
  z-index: 100;
  border: none;
}

.router-content{
  margin-top: 00px
}

