

rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isUserWithId(userId) {
      return request.auth.uid == userId;
    }

    // match /users/{userId} {
    //   allow read, write, create, update: if (request.resource.data.diff(resource.data).affectedKeys()
    //   .hasOnly(['email', 'displayName', 'photoURL', 'nickname', 'givenName', 'gender', 'dateOfBirth', 'uid']));
    // }

    match /users/{userId} {
      allow read, write, create : if isUserWithId(userId);

      match /girthsData/{girthsDataId} {
        allow read, write, create: if isUserWithId(userId);
      }
      match /skinfoldsData/{skinfoldsDataId} {
        allow read, write, create: if isUserWithId(userId);
      }

    }

  }
}
