<div >
  <span fxLayoutAlign="start">
    <button class="buttonSticky" (click)="navigateToPhotoSession()" mat-raised-button color="primary">Photo session</button>
 </span>

 <div class="content" >
 <div class="card-div" *ngFor="let photo of photos$ | async  ">
        <div class="card-center" fxLayout="row wrap"  fxLayoutGap="16px"  fxLayoutAlign="space-around center" >
          <mat-card  fxFlex.gt-sm="30%" fxFlex="100%"  class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-title>{{photo.front.viewName}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
            <img class="imgSet" mat-card-image src="{{photo.front.urlFront}}">
            </mat-card-content>
          </mat-card>
          <mat-card fxFlex.gt-sm="30%" fxFlex="100%"class="mat-elevation-z8">
            <mat-card-header>
              <mat-card-content>
              <mat-card-title>{{photo.side.viewName}}</mat-card-title>
              </mat-card-content>
            </mat-card-header>
            <img class="imgSet" mat-card-image src="{{photo.side.urlSide}}">
          </mat-card>
          <mat-card  fxFlex.gt-sm="30%" fxFlex="100%"  class="mat-elevation-z8">
            <mat-card-header>
            <mat-card-content>
              <mat-card-title>{{photo.back.viewName}}</mat-card-title>
            </mat-card-content>
            </mat-card-header>
            <img class="imgSet" mat-card-image src="{{photo.back.urlBack}}">
          </mat-card>
      </div>
  </div>
</div>
</div>
