.mainDiv {
  margin-top: 150px;
}
.content {
  margin-top: 180px !important;
}
.buttonSticky {
  z-index: 999;
  position: fixed !important;
  margin: 10px;
  margin-top: 130px !important;
  aspect-ratio: 1;
}

.card-div{
  margin-top: 16px;
}

.imgSet{
  width: 90%;
  margin: 16px;
}


.card-center{
  margin-left: 16px;
  margin-right: 16px;
}

.card-header{
height: 24px;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 16px;
}
