.mainDiv {
  position: absolute;
  margin-top: 117px;
  left: 0px;
  width: 100%;
  height: auto;
  overflow-x: hidden;
  overflow-y: auto;
}

.spanButton{
  width: 90%;
}
.ifDiv{
  overflow-y: hidden;
}

.parallaxFirstDiv {
  width: 100%;
  height: 400px;
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.intro {
  width: calc(100%-32px);
  padding: 48px;
}

.introTitle {
  width: 100%;
  font-size:  2vw;
  line-height: 2vw;
  font-weight: bold;
  color: rgb(255, 67, 75);
}


.introTitleBig {
  width: 100%;

  font-size:  6vw;
  line-height: 6vw;
  color: whitesmoke;
}

.introText {
  width: 100%;
  font-size: 2vw;
  line-height: 2vw;
  color: rgb(152, 147, 159);
}

.introWave {
  width: 78px;
  height: 15px;
  filter: brightness(50%) sepia(40) saturate(100) hue-rotate(10deg);
}

.divBio {
  padding: 32px;
}


.bioTitle .mat-input-element {

  font-size: 3vw;
  text-align: center;
  line-height: 3vw;
  color: whitesmoke;
}
.bioTitle .mat-input-element::placeholder {
  font-size: 36px;
  text-align: center;
  line-height: 440px;
  color: whitesmoke;
}

.bioSubitle .mat-input-element {
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: whitesmoke;
}
.bioSubitle .mat-input-element::placeholder {
  text-align: center;
  font-size: 14px;
  line-height: 48px;
  color: whitesmoke;
}

.divText {
  margin-top: 24px;
  margin-left: 32px;
  margin-right: 32px;
  -webkit-column-width: 400px;
  -moz-column-width: 400px;
  column-width: 400px;
  column-gap: 60px;white-space: pre-line;
  margin-left: 64px;
  margin-right: 64px;
  font-size: 16px;
  line-height: 30px;
  color: whitesmoke;
}



.textArea{
  margin-top: 24px;
  width: 90%;
  height: 100px;
}

.mat-dividers {
  width: 100px;
  color: whitesmoke;
  margin-top: 24px;
  margin-bottom: 24px;
}

.divCatalogueCont{
  overflow-y: hidden;
  width: 100%;
}

.divCatalogue {
  overflow-y: hidden;
  height: 100%;
  width: 80%;
  padding: 32px;
  margin-top: 32px;
  background-size: cover;
}
.image {
  background-size: cover;
  border-bottom-right-radius: 40px;
  -moz-border-bottom-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  box-shadow: 0px 10px 30px 0px black;



}

.parent {
  position: relative;
  border-bottom-right-radius: 40px;
  -moz-border-bottom-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  box-shadow: 0px 10px 30px 0px black;
  background-color: red;
  aspect-ratio: 3/4;

  cursor: pointer;
}

.parent img {
  height: 100%;
  width: 100%;
}
.img__description {

  position: absolute;
  border-bottom-right-radius: 40px;
  -moz-border-bottom-right-radius: 40px;
  -webkit-border-bottom-right-radius: 40px;
  aspect-ratio: 3/4;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 1);
  visibility: hidden;
  opacity: 1;
  transition: opacity 0.5s, visibility 0.1s;
}
.txt {
  flex: 1;
  overflow: auto;
  margin-top: 24px;
  padding: 16px;
  color: #fff;
}
.btn {
  margin-bottom: 24px;
}
.txtPrice {
  padding: 16px;
  color: #fff;
}
.parent:hover .img__description {
  visibility: visible;
  opacity: 1;
}

.titleCard {
  font-size: 2vw;
  font-weight: bold;
  color: whitesmoke;
}
.divTitleCard {
  position: absolute;
  margin-left: 32px;
  margin-bottom: 16px;
}

.imageWave {
  width: 48px;
  height: 10px;
}
.subTitleCard {
  font-size: 1.5vw;
  font-weight: bold;
  color: yellow;
}


.parent:hover {
  transition: transform 0.5s ease;
  transform: scale(1.1);
}

.button24 {
  width: 48px;
  height: 48px;
}
.icon24 {
  font-size: 32px;
  margin-top: -8px;
  margin-left: 8px;
}

.editIcon {
  color: whitesmoke;
}
.hintButton{
  margin-left: 24px;
}

.progButtHint{
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  color: whitesmoke;
}

.progButt{
margin: 24px;
}


 .tag{
  display: inline;
  font-size: 10px;
  padding: 8px;
  color: #fff;
}
.buttonSticky {
  z-index: 999;
  position: fixed !important;
  margin: 10px;
}
