<div class="mainDiv" fxLayout="column" fxLayoutAlign="start stretch">
  <span class="spanButton" fxLayoutAlign="end">
    <button class="buttonSticky" mat-raised-button color="primary">LIKE</button>
  </span>

  <div class="ifDiv" *ngIf="trainerPageData$ | async as page">

    <div  class="parallaxFirstDiv" fxLayout="column"
      [style.backgroundImage]="'linear-gradient(to right,rgba(0,0,0,0.9), rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0)),  url(' + page.backgroundImageURL + ')'"
      fxLayoutAlign="start start">
      <div class="intro" fxFill fxLayout="column" fxLayoutAlign="space-between start">
        <p class="introTitle"> {{page.titleHeading}} </p>

        <p class="introTitleBig"> {{page.title}} </p>
        <img class="introWave" src="/assets//accessory/wave.png">
        <p class="introText"> {{page.leitmotif}} </p>
        <button mat-raised-button color="primary">Join my team today</button>
      </div>
    </div>

    <div class="divBio" fxLayout="column" fxLayoutAlign="center center">
      <p class="bioTitle"> {{page.bioTitle}} </p>
      <p class="bioSubitle"> {{page.bioSubtitle}} </p>

      <mat-divider class="mat-dividers"> </mat-divider>

      <p class="divText" fxFlex="90%"> {{page.bioText}}</p>


      <mat-divider class="mat-dividers">
      </mat-divider>

    </div>
  </div>

  <div class="divCatalogueCont" fxLayout="column" fxLayoutAlign="start center" >
    <div class="divCatalogue" fxLayoutGap="60px grid" fxLayoutAlign="center start" fxLayout="row wrap">

      <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let cattemp of cataloguTemplateArray$  | async" let
        i=index>
        <div fxLayoutAlign="start end" class="parent">

          <img class="image" src={{cattemp.imgURL}}>

          <div class="divTitleCard" fxLayoutAlign="space-between start" fxLayoutGap="24px" fxLayout="column">
            <div class="imageWave">
              <img src="/assets//accessory/wave.png">
            </div>
            <p class="titleCard">{{cattemp.titleCard}}</p>
            <p class="subTitleCard">{{cattemp.subTitleCard}}</p>
          </div>
          <div class="img__description" fxLayout="column" fxLayoutAlign="space-between center">
            <p class="txt" fxFlexAlign="stretch">{{cattemp.descripition}}</p>
            <div fxLayout="row wrap" fxLayoutGap="4px grid">
              <div *ngFor="let tag of cattemp.tags">
                <p class="tag">{{tag}}</p>
              </div>
            </div>
            <p class="txtPrice">{{cattemp.price | currency:'EUR':'symbol' }} </p>

            <div class="btn" fxLayoutGap="8px" fxLayoutAlign="center center" fxLayout="row">
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                (click)="openDialogEditTrainerProduct(cattemp.idField, cattemp)">
                <mat-icon>mode_edit
                </mat-icon>
              </button>
              {{cattemp}}
              <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon"
                (click)="deleteTrainerProduct(cattemp.idField, cattemp)">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--  fine main div-->

</div>
