<div class="mainDiv" fxLayout="column" fxLayoutAlign="start center">
  <form [formGroup]="trainerPageFormGroup" (ngSubmit)="onSubmittrainerPageFormGroup(trainerPageFormGroup.value)">
    <div class="parallaxFirstDiv" fxLayout="column"
      [style.backgroundImage]="'linear-gradient(to right,rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0), rgba(0,0,0,0)),  url(' + url + ')'"
      fxLayoutAlign="start start">
      <div class="intro" fxFill fxLayout="column" fxLayoutAlign="start start">
        <mat-form-field floatLabel="never" class="introTitle" appearance="none">
          <input matInput placeholder="Certified fitness professional" formControlName="titleHeading" required>
          <mat-icon class="editIcon" matPrefix>edit</mat-icon>
          <mat-hint>Add title heading</mat-hint>
        </mat-form-field>

        <mat-form-field floatLabel="never" class="introTitleBig" appearance="none">
          <input matInput placeholder="Take control of your health" formControlName="title" required>
          <mat-icon class="editIcon" matPrefix>edit</mat-icon>
          <mat-hint>Add title</mat-hint>
        </mat-form-field>
        <img class="introWave" src="/assets//accessory/wave.png">
        <mat-form-field floatLabel="never" class="introText" appearance="none">
          <input matInput
            placeholder="Curabitur non nulla sit amet nisl tempus convallis quis ac lectus dolor sit amet."
            formControlName="leitmotif" required>
          <mat-icon class="editIcon" matPrefix>edit</mat-icon>
          <mat-hint>Add leitmotif</mat-hint>
        </mat-form-field>
        <div fxLayout="column" fxLayoutGap="16px">
          <button mat-raised-button [disabled]="true" color="primary">Join my team today</button>
          <button mat-mini-fab class="button24" color="primary" aria-label="Example icon button with a plus one icon">
            <mat-icon class="icon24">image</mat-icon>
            <mat-hint class="hintButton">Add background image</mat-hint>
          </button>
        </div>
      </div>
    </div>

    <div class="divBio" fxLayout="column" fxLayoutAlign="center center">
      <mat-form-field floatLabel="never" class="bioTitle" appearance="none">
        <input matInput placeholder="About Me" formControlName="bioTitle" required>
        <mat-icon class="editIcon" matPrefix>edit</mat-icon>
        <mat-hint>Add Bio title</mat-hint>
      </mat-form-field>
      <mat-form-field floatLabel="never" class="bioSubitle" appearance="none">
        <input matInput placeholder="Personal trainer" formControlName="bioSubtitle" required>
        <mat-icon class="editIcon" matPrefix>edit</mat-icon>
        <mat-hint>Add Bio subtitle</mat-hint>
      </mat-form-field>

      <mat-divider class="mat-dividers">
      </mat-divider>

      <div class="divText" fxFlex="90%">
        <span *ngIf="trainerPageFormGroup.value.bioText == ''" class="bioText">{{text}}</span>
        <span *ngIf="trainerPageFormGroup.value.bioText !== ''"
          class="bioText">{{trainerPageFormGroup.value.bioText}}</span>
      </div>

      <textarea class="textArea" placeholder={{text}} formControlName="bioText" required></textarea>


      <mat-divider class="mat-dividers">
      </mat-divider>


      <button mat-raised-button class="field" color="primary" type="submit"
        [disabled]="!trainerPageFormGroup.dirty || trainerPageFormGroup.invalid">Save my Bio</button>
    </div>


  </form>
  <mat-divider class="mat-dividers">
  </mat-divider>

  <p class="progButtHint">Add up to six different training programs</p>
  <div class="divCatalogue" fxLayoutGap="60px grid" fxLayoutAlign="center center" fxLayout="row wrap">

    <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let cattemp of cataloguTemplateArray, let i = index" let
      i=index>
      <div fxLayoutAlign="start end" class="parent">

        <img class="image"  [style.backgroundImage]="'linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0),rgba(0,0,0,0.6), rgba(0,0,0,0.7)),  url(' + cattemp.imgURL + ')'"
        >
        <div class="divTitleCard" fxLayoutAlign="space-between start" fxLayoutGap="24px" fxLayout="column">
          <div class="imageWave">
            <img src="/assets//accessory/wave.png">
          </div>
          <p class="titleCard">{{cattemp.titleCard}}</p>
          <p class="subTitleCard">{{cattemp.subTitleCard}}</p>
        </div>
        <div class="img__description" fxLayout="column" fxLayoutAlign="start center">
          <p class="txt">{{cattemp.descripition}}</p>
          <div fxLayout="row wrap" fxLayoutGap="4px grid">
            <div *ngFor="let tag of cattemp.tags">
              <p class="tag">{{tag}}</p>
            </div>
          </div>
          <p class="txt">{{cattemp.price  | currency:'EUR':true  }} </p>

          <button class="progButt" mat-raised-button color="primary" (click)="openDialog(i)">
            <mat-icon>add</mat-icon> add
          </button>
        </div>
      </div>
    </div>
  </div>
  <!--  fine main div-->

</div>
