<div class="mainDiv" fxLayoutAlign="center">

  <div *ngIf='authService.UserType$ | async; then userLogged else userNotLogged'></div>

  <ng-template #userNotLogged>

    <mat-card *ngIf="!emailUser">
      <button mat-icon-button routerLink="">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
      <div fxLayout="row" fxLayoutGap="16px">
        <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="0px">
          <p *ngIf="!authService.errorMessage" class="mat-title">Confirm your email</p>

          <p *ngIf="!authService.errorMessage" class="mat-subheading-1  div-margin">to login</p>
          <p *ngIf="authService.errorMessage" class="mat-title">{{authService.errorMessage}}</p>
          <div class="div-margin"></div>
          <div class="div-margin"></div>

          <mat-card-content>
            <div fxLayoutAlign="center " class="div-margin caption font">Enter email</div>
            <mat-form-field appearance="legacy">

              <input matInput [(formControl)]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
          </mat-card-content>
          <div class="div-margin"></div>
          <button class="login-btn" mat-flat-button [disabled]="authService.emailSent"
            (click)="emailCheck(email.value)">Continue</button>
        </div>
      </div>
      <div class="div-margin" fxLayoutAlign="center center" fxLayout="column">
        <div class="div-margin"></div>
        <!-- <a class="mat-subheading-1 click" (click)="isSignInWithEmailAction()">
        < All sign in options</a> -->
      </div>
    </mat-card>
    <mat-card *ngIf="emailUser">
      <mat-spinner>
      </mat-spinner>
    </mat-card>
  </ng-template>

  <ng-template #userLogged>
    <div class="mainDiv">
      <mat-card>
        <div fxLayout="row" fxLayoutGap="16px">
          <mat-card-content>
            <div fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="0px">
              <p class="mat-title">Yeah!!!</p>
              <p class="mat-subheading-1">You are already logged in</p>
              <div class="div-margin"></div>
              <div class="div-margin"></div>
              <div class="div-margin"></div>
              <button class="login-btn" mat-flat-button routerLink="/Body&Measurements/girthTab">Continue</button>
            </div>
          </mat-card-content>
        </div>
        <div class="div-margin" fxLayoutAlign="center center" fxLayout="column">
        </div>
      </mat-card>
    </div>
  </ng-template>

</div>
