<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="160px">

  <img *ngIf="!showCropper" [style.height.px]="heightDefault" src={{imgURLDefault}}>

  <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="imageRatio"
    format="png" (imageCropped)="frontImageCropped($event)" (imageLoaded)="frontImageLoaded()"
    (cropperReady)="frontCropperReady()" (loadImageFailed)="frontLoadImageFailed()" [resizeToHeight]="resizeToHeight"
    [imageQuality]="50" [style.display]="showCropper ? null : 'none'" [style.height.px]="heightDefault"></image-cropper>

  <div fxLayout="column" fxLayoutAlign="center center">
    <button (click)="fileInput1.click()" mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
      <input #fileInput1 hidden type="file" multiple (change)="loadFrontImage($event)">
      <mat-icon>add_a_photo</mat-icon>
    </button>

  </div>

  <div class="bar" *ngIf="(uploadPercentage$ | async) as percentage">
    <mat-progress-bar mode="determinate" [value]="percentage"></mat-progress-bar>
    <span>{{percentage / 100 | percent}}</span>
  </div>
</div>
