<mat-toolbar >
  <div *ngIf="authService.user$ | async ; then autenticated else login">

  </div>
  <ng-template #autenticated>
    <div fxFlex="grow" fxLayout fxLayoutAlign="space-between center">
      <button mat-icon-button routerLink="/Body&Measurements/girthTab">
        <img class="logo" src="/assets/logo_orange.png" alt="image">
        <span class="nav-caption" fxHide.xs>Girths & Caliper</span>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
        <img *ngIf="user?.photoURL" class="circular-square-small" src="{{user?.photoURL}}">
        <mat-icon *ngIf="!user?.photoURL">account_circle</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <div class="menuDiv" fxLayoutAlign="center center" fxLayout="column" fxLayoutGap="4px">
        <img class="circular-square" src="{{user?.photoURL}}">
        <p class="div-margin caption font">{{user?.displayName}}</p>
        <p class="div-margin caption font">{{user?.email}}</p>
        <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="start">
          <button class="login-button" mat-button routerLink="/UserDashboard">
            <mat-icon class="provider-icon" svgIcon="logo"></mat-icon>
            <span class="span-text">Manage your account</span>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
          <p class=" caption font">Date of birth</p>
          <p class=" caption font">{{user.dateOfBirth?.toMillis() | date:'MMM/dd/yyyy'}}</p>
        </div>
        <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
          <p class=" caption font">Gender</p>
          <p class=" caption font">{{user?.gender}}</p>
        </div>
        <mat-divider></mat-divider>
        <p class=" caption font">Template CSV</p>
        <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
          <p class=" caption font">Girths</p>
          <button class="mat-elevation-z0 button24" mat-mini-fab aria-label="Example icon button with a menu icon">
            <mat-icon class="icon24">get_app</mat-icon>
          </button>
        </div>
        <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
          <p class=" caption font">Skinfolds</p>
          <button class="mat-elevation-z0 button24" mat-mini-fab color="primary"
            aria-label="Example icon button with a menu icon">
            <mat-icon class="icon24">get_app</mat-icon>
          </button>
        </div>
        <mat-divider></mat-divider>
        <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
          <p class=" caption font">Subscription end</p>
          <p class="caption font">{{user.current_period_end?.toMillis() | date:'MMM/dd/yyyy'}}</p>
        </div>
        <mat-divider></mat-divider>
        <a class="div-margin caption font click" (click)="authService.signOut()">Sign out</a>
      </div>
    </mat-menu>
  </ng-template>

  <ng-template #login>
    <div fxFlex="grow" fxLayout fxLayoutAlign="space-between center">
      <button mat-icon-button routerLink="/">
        <img class="logo" src="/assets/logo_orange.png" alt="image">
        <span class="nav-caption" fxHide.xs>Girths & Caliper</span>
      </button>
      <button class="login-btn" mat-flat-button routerLink="/Login">Get Started</button>
    </div>
  </ng-template>

</mat-toolbar>
