.container {
  margin-top: 117px;
  padding: 8px;
}

li{
  padding-right: 8px; float:left;
}

.www{
width: 90%;
}
.card-address {
  margin-top: 16px;
  padding: 16px;
}

.stripe-button {
  width: 160px;
  cursor: pointer;
}
