.container {
  margin-top: 117px;
  padding: 8px;
}

li{
  padding-right: 8px; float:left;
}

.www{
width: 90%;
}
.card-address {
  margin-top: 16px;
  padding: 16px;
}

.stripe-button {
  width: 160px;
  cursor: pointer;
}

.font10 {
  font-size: 10px;
}
.font12 {
  font-size: 12px;
}
.horizontal {
  display: flex;
  justify-content: space-between;
}
.circular-square {
  height: 100px;
  border-radius: 8px;
}
