<div class="mainDiv">
  <div class="parallaxFirstDiv" fxLayoutAlign="center center">
    <div   wmAnimate="fadeInDown" aos>
      <h1 class="textTitle ">Girths & Caliper makes easy your body recomposition</h1>
      <h1 class="textSubtitle ">Join us today to See how</h1>
    </div>
  </div>
  <div class="parallaxSecondDiv" >
  <div fxLayout="column" fxLayoutAlign="space-around center">
    <h1 class="divTitle ">All About Girths & Caliper App</h1>
    <mat-divider class="divider"></mat-divider>
  <div fxLayout="column" fxLayoutAlign="space-around center">
  <div fxLayout="row" fxLayoutAlign="space-around ">
    <div class="textBox" fxFlex="33%" xGap="-60" timing="fast" wmAnimate="fadeInLeft"  aos>
      <p>Initial check of the body composition is the base line to use as reference against the measurements taken
        during your period of training, body weight, skin folds and girths value are the numerical translation of your
        progress.

        Photos of your body the visual evaluation of your progress.</p>
    </div>
    <div class="textBox" fxFlex="33%" >
      <p>Skin folds give an indication of body fat percentage and indirectly of the lean mass, using the correlation
        between subcutaneous fat, total fat and body density.

        The obtained data, body mass index, body fat percentage, lean mass are an estimation (Subject to a significant
        percentage of error) and not an absolute real value of the body fat.</p>
    </div>
    <div class="textBox" fxFlex="33%" wmAnimate="fadeInRight" timing="fast"  xGap="60" aos>
      <p>What is important to determine the trend of your progress?
        <li>Sum of Skin folds trend over time</li>
        <li>Skin folds trend over time</li>
        <li>Sum of Skin folds trend over time</li>
        <li>Single skin folds integrated with the corresponding girth value</li>
        <li>Girths or Sum of Skin folds integrated with Body weight over the time</li>
      </p>
    </div>
    </div>
    <img   src="/assets/device_full_width1-1.jpg" alt="image">
    </div>
    </div>
  </div>
</div>
