<div class="mainDiv">
  <button class="poppo" (click)="purchaseSubscription()">PIPPO</button>
  <div fxLayoutAlign="center" *ngIf="authService.user$ | async as user ">
    <mat-card class="mat-elevation-z8 pad">
      <button mat-icon-button routerLink="/Body&Measurements/girthTab">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
      <div class="divPhoto" fxLayoutAlign="center ">
        <img *ngIf="user.photoURL" class="circular-square-small" src="{{user.photoURL}}">
      </div>
      <div *ngIf="!user.displayName">
        <p class="caption body-2">Almost there complete your profile</p>
        <p class="div-margin caption font">Email : {{user.email}}</p>
      </div>
      <div *ngIf="user.displayName">
        <p class="div-margin body-2">Welcome, {{user.displayName}}</p>
        <p class="caption font">Manage your personal data, login and subscription</p>
      </div>
      <mat-vertical-stepper [linear]=false #stepper >
        <mat-step [stepControl]="userDataFormGroup" state="account_circle" errorMessage="All * fields are required.">

          <form [formGroup]="userDataFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Personal data</ng-template>
            <p class="caption font">{{user.email}}</p>
            <div *ngIf="!user.displayName">
              <mat-form-field class="field">
                <mat-label>Display name</mat-label>
                <input class="inputlabel" matInput placeholder="Last name, First name" formControlName="userNameControl"
                  required>
                <span class="inputlabel"> </span>
              </mat-form-field>
            </div>
            <div *ngIf="!user.displayName">
              <p class="caption font">{{user.displayName}}</p>
            </div>
            <mat-form-field class="field">
              <mat-label>Nikname</mat-label>
              <input class="inputlabel" matInput placeholder="Nickname" formControlName="nicknameControl">
              <span class="inputlabel"> </span>
            </mat-form-field>
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div fxLayout="column" fxLayoutGap="16px">
              <mat-form-field appearance="standard">
                <mat-label>Birth date</mat-label>
                <input matInput placeholder="Birthday" [matDatepicker]="picker" formControlName="birthDateControl"
                  required  >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker required></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="standard">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="genderControl" required>
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button color="primary" type="submit" [disabled]="!userDataFormGroup.valid">Update
                info</button>
            </div>
          </form>
        </mat-step>
        <mat-step state="public">
          <ng-template matStepLabel>Login Option</ng-template>
          <p class="caption font">Check to athorize login provider</p>
          <p class="caption font">Uncheck to unathorize login provider</p>
          <div #login fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="googleL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('google.com')"
                (change)="googleUnlinkLink($event)">
              </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="facebookL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('facebook.com')"
                (change)="facebookUnlinkLink($event)"> </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="appleL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('apple.com')"
                (change)="appleUnlinkLink($event)"></mat-checkbox>
            </div>
          </div>
        </mat-step>
        <mat-step state="monetization_on">
          <ng-template matStepLabel>Subscription</ng-template>
          <p class="caption font">Check to authorize login provider</p>
          <p class="caption font">Uncheck to unauthorize login provider</p>
          <div #login fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="googleL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('google.com')"
                (change)="googleUnlinkLink($event)">
              </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="facebookL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('facebook.com')"
                (change)="facebookUnlinkLink($event)"> </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="appleL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('apple.com')"
                (change)="appleUnlinkLink($event)"></mat-checkbox>
            </div>
          </div>
        </mat-step>
        <ng-template matStepperIcon="account_circle">
          <mat-icon>account_circle</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="public">
          <mat-icon>public</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="monetization_on">
          <mat-icon>monetization_on</mat-icon>
        </ng-template>
      </mat-vertical-stepper>

    </mat-card>
  </div>
</div>
