<div class="mainDiv">
  <div fxLayoutAlign="center" *ngIf="authService.UserType$ | async as user ">
    <mat-card fxFlex.gt-xs="35%" class="mat-elevation-z8 pad  ">
      <button mat-icon-button routerLink="/Body&Measurements/girthTab">
        <mat-icon class="clear-icon">clear</mat-icon>
      </button>
      <!-- USER DATA FROM LOGIN  -->
      <div class="divPhoto" fxLayoutAlign="center ">
        <img *ngIf="user.photoURL" class="circular-square-small" src="{{user.photoURL}}">
      </div>
      <div *ngIf="!user.displayName">
        <p class="div-margin body-2">Almost there complete your profile</p>
      </div>
      <div *ngIf="user.displayName">
        <p class="div-margin body-2">Welcome, {{user.displayName}}</p>
        <p class="caption font">Manage your personal data, login and subscription</p>
      </div>

      <!-- STEPPER START  -->
      <mat-vertical-stepper [linear]=false #stepper>

        <!-- USER DATA FORM  -->

        <mat-step [stepControl]="userDataFormGroup" state="account_circle" errorMessage="All * fields are required.">
          <form [formGroup]="userDataFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>Personal data</ng-template>
            <p class="caption font">{{user.email}}</p>

            <mat-form-field class="inputlabel">
              <mat-label>Display name</mat-label>
              <input class="inputlabel" matInput="text" placeholder="Last name, First name" formControlName="displayName" required>
              <span class="inputlabel"></span>
            </mat-form-field>

            <mat-form-field class="inputlabel">
              <mat-label>Nikname</mat-label>
              <input class="inputlabel" type="text" matInput placeholder="Nickname" formControlName="nickname">
              <span class="inputlabel"> </span>
            </mat-form-field>
            <ng-template matStepLabel>Fill out your address</ng-template>
            <div fxLayout="column" fxLayoutGap="16px">
              <mat-form-field class="inputlabel" appearance="standard">
                <mat-label>Birth date</mat-label>
                <input matInput placeholder="Birthday" [matDatepicker]="picker" formControlName="dateOfBirth" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker required></mat-datepicker>
              </mat-form-field>
              <mat-form-field appearance="standard">
                <mat-label>Gender</mat-label>
                <mat-select formControlName="gender" required>
                  <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-raised-button class="field" color="primary" type="submit"
                [disabled]="!userDataFormGroup.dirty">Update
                info</button>
            </div>
          </form>
        </mat-step>

        <!-- USER DATA FORM FOR TRAINER -->

        <mat-step *ngIf="user.userCategory == 'trainer' " [stepControl]="trainerDataFormGroup" state="public"
          errorMessage="All * fields are required.">
          <form [formGroup]="trainerDataFormGroup" (ngSubmit)="onSubmitTrainerContacts()">
            <ng-template matStepLabel>Company details</ng-template>
            <div fxLayout="column">
              <mat-form-field class="inputlabel">
                <mat-label>Your company</mat-label>
                <input class="inputlabel" matInput placeholder="Your company" formControlName="companyName">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Phone</mat-label>
                <input class="inputlabel" matInput placeholder="Phone" formControlName="phone">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Mobile</mat-label>
                <input class="inputlabel" matInput placeholder="Mobile" formControlName="mobile">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Business email</mat-label>
                <input class="inputlabel" matInput placeholder="Mobile" formControlName="emailBusiness">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Web</mat-label>
                <input class="inputlabel" matInput placeholder="Web" formControlName="web">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Address line 1</mat-label>
                <input class="inputlabel" matInput placeholder="Address line 1" formControlName="address1">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Address line 2</mat-label>
                <input class="inputlabel" matInput placeholder="Address line 2" formControlName="address2">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>Country</mat-label>
                <input class="inputlabel" matInput placeholder="Country" formControlName="country">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>State / Province / Region</mat-label>
                <input class="inputlabel" matInput placeholder="State / Province / Region"
                  formControlName="state_province_region">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>City</mat-label>
                <input class="inputlabel" matInput placeholder="City" formControlName="city">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <mat-form-field class="inputlabel">
                <mat-label>ZIP / postalCode</mat-label>
                <input class="inputlabel" matInput placeholder="ZIP / postalCode" formControlName="zip_postalCode">
                <span class="inputlabel"> </span>
              </mat-form-field>
              <button mat-raised-button class="field" color="primary" type="submit"
                [disabled]="!trainerDataFormGroup.dirty">Update
                info</button>
            </div>
          </form>
        </mat-step>

        <!--  USER  SUBSCRIPTIONS -->
        <mat-step state="monetization_on">
          <ng-template matStepLabel>Subscription</ng-template>
          <div >
            <div *ngIf="!user.userCategory" class="user-type-div" fxLayout="row" fxLayoutGap="16px" fxLayoutAlign="space-evenly start">
              <mat-chip *ngFor="let item of userTypes" [selected]="item.id === selectUserTypeId"
                (click)="selectUserTypes(item)">
                {{item.name}}
              </mat-chip>
            </div>
            <div *ngIf="dueDate || dueDate == undefined" #login fxLayout="column" fxLayoutGap="24px">
            <div *ngFor="let subsCat of subscriptionPlaneForUserCategories, let i = index" let i=index>
            <div #login fxLayout="column" fxLayoutGap="24px">
              <p class="caption font">{{subsCat.cadence}} subscription</p>
              <button mat-raised-button class="field" color="primary" type="submit"
                (click)="monthlySubscription(subsCat.pricePlan)">Subscribe now for {{subsCat.price}}</button>
            </div>
            </div>
            </div>

          </div>
          <div *ngIf="dueDate ==  false ">
            <div fxLayout="row" fxLayoutAlign="space-between">
              <p class="caption font">Subscription plan:</p>
              <p class="caption font">{{dueDate}}</p>
            </div>
            <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
              <p class="caption font">Subscribed on:</p>
              <p class="caption font">{{user.stripeInfoGC.created.toMillis() | date:'MMM/dd/yyyy'}}</p>
            </div>
            <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
              <p class="caption font">Next invoice:</p>
              <p class="caption font">{{user.stripeInfoGC.current_period_end.toMillis() | date:'MMM/dd/yyyy'}}</p>
            </div>
              <div class="menuDivLessPad" fxLayout="row" fxLayoutAlign="space-between">
                <p class="caption font">Uncheck to cancel recurring subscription:</p>
                <mat-checkbox [disabled]="user.stripeInfoGC.subscriptionId=='cancelled'" class="example-margin" [checked]="!user.stripeInfoGC.cancel_at_period_end"
                  (change)="subscripitonUnsubscription($event)">
                </mat-checkbox>
              </div>
            <a class="DividerMargin caption font click" (click)="deleteSubscripiton()">Unsubscribe from G&C</a>
          </div>

        </mat-step>

        <!-- LOGIN OPTIONS -->

        <mat-step state="public">
          <ng-template matStepLabel>Login Option</ng-template>
          <p class="caption font">Check to athorize login provider</p>
          <p class="caption font">Uncheck to unathorize login provider</p>
          <div #login fxLayout="column" fxLayoutGap="24px">
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="googleL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('google.com')"
                (change)="googleUnlinkLink($event)">
              </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="facebookL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('facebook.com')"
                (change)="facebookUnlinkLink($event)"> </mat-checkbox>
            </div>
            <div fxLayout="row" fxLayoutGap="56px">
              <mat-icon class="provider-icon" svgIcon="appleL"></mat-icon>
              <mat-checkbox class="example-margin" [checked]="authService.arraOfLogin.includes('apple.com')"
                (change)="appleUnlinkLink($event)"></mat-checkbox>

            </div>
          </div>
        </mat-step>
        <!-- LABEL STEPPER -->
        <ng-template matStepperIcon="public">
          <mat-icon>public</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="account_circle">
          <mat-icon>account_circle</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="public">
          <mat-icon>public</mat-icon>
        </ng-template>
        <ng-template matStepperIcon="monetization_on">
          <mat-icon>monetization_on</mat-icon>
        </ng-template>
      </mat-vertical-stepper>

    </mat-card>
  </div>

</div>



<!--  -->
