.mainDiv {
  margin-top: 70px !important;
}

.login-box {
  margin-top: 5%;
}

.login-button {
  display: flex;
  justify-content: flex-start;
  padding: 4px;
  font-size: 9px;
  width: 220px;
  color: whitesmoke;
}

.click {
  cursor: pointer;
  color: green;
}

.provider-icon {
  margin-left: 16px;
  width: 24px !important;
  aspect-ratio: 1;
}

.span-text {
  font-size: 12px !important;
  padding-left: 16px;
}

.div-margin {
  margin-top: 32px;
}

.font {
  font-size: 10px;
}

.clear-icon{
  font-size: 14px;
}

.login-btn{
  height: 44px;
  background-color: black;
    color: #fff;
}

.tp-wrapper {
  margin-top: 10%;
  -webkit-perspective: 100%;
  perspective: 100%;
}

.pad {
  padding-left: 24px;
  padding-right: 24px;
}
